html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    overscroll-behavior: none;
}

body {
    background-color:rgb(0 0 0 / 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ec4899;
}

p {
    color: #8b5cf6;
}

canvas {
    background-color: rgb(31 41 55 / 1);
    border: 1px solid white;
}
